<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
  </div>
  
  <img src="img/Designer.jpeg" alt="Laptop" width="300" height="300">
  <p>This photo is Our Gallery :)</p>
  
  <div class="pt-3">
    <p>Hi I'm Bekir Can,I want to be Back-end developer.</p>
    <a href="#">Contact With Me</a>
  </div>